@{
    int verifyMemberId = ViewBag.verifyMemberId;
    bool blnLogIn = ViewBag.logIn;
}
@section Styles
    {
    <style>
        .service-count-blk {
            position: inherit;
            left: 30px;
            bottom: 30px;
        }

        .footer {
            background-color: #0A1A38;
            padding: 60px 0 0;
            float: left;
            width: 100%;
        }
    </style>
}

<!-- CityArea Search -->
<section id="cityArea" class="hero-section">
    @* 1920x1080 *@
    <div class="container">
        <div class="home-banner">
            <div class="row align-items-center w-100">
                <div class="col-lg-7 col-md-10 mx-auto">
                    <div class="section-search aos" data-aos="fade-up">
                        @* 						<h4>World Class Badminton Coaching & Premium Courts</h4> *@
                        <h1>選擇喜歡的<span>揪團</span></h1>
                        <h1>開始您的體驗</h1>
                        <p class="sub-info">透過94HOBBY，綻放出揪團熱情</p>
                        <div class="search-box">
                            <form action="/Activity/ActivityCenter" method="post">
                                <div class="search-input line">
                                    <div class="form-group mb-0">
                                        <label>縣市</label>
                                        <select2 name="city" style="width:100%" :options="cityList" v-model:value="activeCity">
                                            <option disabled value="0">請選擇</option>
                                        </select2>
                                    </div>
                                </div>
                                <div class="search-input">
                                    <div class="form-group mb-0">
                                        <label>區域 </label>
                                        <select2 name="area" style="width:100%" :options="areaList">
                                        </select2>
                                    </div>
                                </div>
                                <div class="search-btn">
                                    <button class="btn" type="submit"><i class="feather-search"></i><span class="search-text">搜尋</span></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="banner-imgs text-center aos" data-aos="fade-up">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /CityArea Search -->
<!-- hotActivity -->
<section id="hotActivity" class="section featured-venues">
    <div class="container">
        <div class="section-heading aos" data-aos="fade-up">
            <h2>精選<span>揪團</span></h2>
            <p class="sub-title">94HOBBY提供高優質活動，創造出最佳揪團體驗。</p>
        </div>
        <div class="row">
            <div class="featured-slider-group ">
                <div class="owl-carousel featured-venues-slider owl-theme">
                    <!-- Featured Item -->
                    <div class="featured-venues-item aos" data-aos="fade-up" v-for="item in activityList">
                        <div class="listing-item mb-0">
                            <div class="listing-img">

                                <a v-bind:href='"@Url.Action("ActivityPage","Activity")/"+item.activityId'>
                                    <img :src="item.activityImages[0].imageName" style="height:259px;width:417px" alt="Venue">
                                </a>
                                <div class="fav-item-venues">
                                    <span class="tag tag-yellow">精選</span>
                                    <div class="list-reviews">
                                        <a href="javascript:void(0)" v-on:click="Fav(item.activityId)" v-bind:class="wish.includes(item.activityId)? 'fav-icon selected':'fav-icon'">
                                            <i class="feather-heart"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="listing-content">
                                <h3 class="listing-title">
                                    <a v-bind:href='"@Url.Action("ActivityPage","Activity")/"+item.activityId'>{{item.activityName}}</a>
                                </h3>
                                <div class="listing-details-group">
                                    <ul>
                                        <li>
                                            <span>
                                                <i class="feather-book-open"></i>活動簡述：{{item.shotActivityNotes}}...
                                            </span>
                                        </li>
                                        <li>
                                            <span>
                                                <i class="feather-map-pin"></i>活動地址：{{item.activityLocation}}
                                            </span>
                                        </li>
                                        <li>
                                            <span>
                                                <i class="feather-calendar"></i>報名截止日 : <span class="primary-text">{{item.joinDeadLine}}</span>
                                            </span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="listing-button">
                                    <div class="listing-venue-owner">
                                        <a class="navigation" v-bind:href='"@Url.Action("MemberProfile","MemberCenter")/"+item.memberId'>
                                            <img :src="item.headShot" alt="Venue">{{item.nickName}}
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /Featured Item -->
                </div>
            </div>
        </div>
        <!-- View More -->
        <div class="view-all text-center aos" data-aos="fade-up">
            <form name="more" action="/Activity/ActivityCenter" method="post">
                <a href="javascript:document.more.submit();" class="btn btn-secondary d-inline-flex align-items-center">更多揪團<span class="lh-1"><i class="feather-arrow-right-circle ms-2"></i></span></a>
            </form>

        </div>
        <!-- View More -->
    </div>
</section>
<!-- /hotActivity -->
<!-- Best Services -->
<section id="bestServices" class="section best-services">
    <div class="container">

        <div class="row" data-aos="fade-up">
            <div class="service-count-blk">
                <div style="background-color:#192335" class="coach-count col-lg-4">
                    <h3>平台會員</h3>
                    <h1 style="color:white"><span>{{totle}}</span>+</h1>
                    <h4>我們擁有高優質的會員</h4>
                </div>
                <div class="coach-count col-lg-4">
                    <h3>男性會員</h3>
                    <h1 style="color:white"><span>{{man}}</span>+</h1>
                    <h4>樂衷善於揪團男士</h4>
                </div>
                <div class="coach-count col-lg-4">
                    <h3>女性會員</h3>
                    <h1 style="color:white"><span>{{woman}}</span>+</h1>
                    <h4>喜愛參予各式活動女士</h4>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /Best Services -->
<!-- Hot Member -->
<section id="hotMember" class="section featured-section">
    <div class="container">
        <div class="section-heading aos" data-aos="fade-up">
            <h2>熱門 <span>團主</span></h2>
            <p class="sub-title">94HOBBY為您準備熱門揪團主</p>
        </div>
        <div class="row">
            <div class="featured-slider-group aos" data-aos="fade-up">
                <div class="owl-carousel featured-coache-slider owl-theme">
                    <!-- Featured Item -->
                    <div class="featured-venues-item" v-for="item in hotList">
                        <div class="listing-item mb-0">
                            <div class="listing-img">
                                <a v-bind:href='"@Url.Action("MemberProfile","MemberCenter")/"+item.memberId'>
                                    <img style="height:371px;width:307px" :src="item.headShot" alt="User">
                                </a>
                                <div class="fav-item-venues">
                                    <span class="tag tag-blue">熱門</span>
                                </div>
                                <div class="hour-list">
                                    <div class="list-reviews">
                                        <div class="d-flex align-items-center">
                                            <span class="rating-bg">{{item.star}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="listing-content list-coche-content">
                                <h3><a v-bind:href='"@Url.Action("MemberProfile","MemberCenter")/"+item.memberId'>{{item.nickName}}</a></h3>
                                <a v-bind:href='"@Url.Action("MemberProfile","MemberCenter")/"+item.memberId'><i class="feather-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <!-- /Featured Item -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Hot Member -->
<div id="footShow">
    <footer class="footer" v-if="blnFootShow==false">
        <div class="container">
            <!-- Footer Join -->
            <div class="footer-join aos" data-aos="fade-up">
                <h2>無論是交友、聚會，還是各種體驗活動，我們的揪團網站應有盡有。</h2>
                <p class="sub-title">快來加入 JHobby，立刻享受完整功能，打造屬於你的精彩社交時刻。</p>
                <a href="/Member/Register" class="btn btn-primary"><i class="feather-user-plus"></i> 加入我們</a>
            </div>
        </div>
    </footer>
</div>

<!-- /Footer Join -->
@section Scripts
    {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.3.4/vue.global.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.0/axios.min.js" integrity="sha512-WrdC3CE9vf1nBf58JHepuWT4x24uTacky9fuzw2g/3L9JkihgwZ6Cfv+JGTtNyosOhEmttMtEZ6H3qJWfI7gIQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="~/assets/js/script.js"></script>
    <script src="~/js/jhobbyselect2component.js"></script>
    <script src="~/js/taiwancity.js"></script>
    <script>
        const hotActivity = Vue.createApp({
            data() {
                return {
                    activityList: [],
                    wish: [],
                    blnAction: true
                }
            },
            mounted() {
                let _this = this;
                _this.QueryActivityList();
                _this.blnAction = blnChange(`@blnLogIn`);
            },
            methods: {
                QueryActivityList() {
                    let _this = this;
                    axios.get("/IndexApi/GetActivityList")
                        .then(res => {
                            _this.activityList = res.data;
                        })
                        .catch(err => Swal.fire({
                            text: err,
                            icon: "error",
                            confirmButtonColor: "#097E52",
                            confirmButtonText: "確認"
                        }));
                    if (!_this.blnAction) return
                    _this.QueryWish();
                },
                QueryWish() {
                    let _this = this;
                    if (!_this.blnAction) return
                    axios.get(`/WishApi/GetWishList/@verifyMemberId`)
                        .then(res => _this.wish = res.data)
                        .catch(err => Swal.fire({
                            text: err,
                            icon: "error",
                            confirmButtonColor: "#097E52",
                            confirmButtonText: "確認"
                        }));
                },
                Fav(id) {
                    let _this = this;
                    if (!_this.blnAction) return
                    if (_this.wish.includes(id)) {
                        axios.delete(`/WishApi/DeleteWish/@verifyMemberId/${id}`)
                            .then(res => _this.QueryWish())
                            .catch(err => Swal.fire({
                                text: err,
                                icon: "error",
                                confirmButtonColor: "#097E52",
                                confirmButtonText: "確認"
                            }));
                    }
                    else {
                        let _this = this;
                        var form = new FormData();
                        form.append("memberId", @verifyMemberId);
                        form.append("activityId", id);
                        form.append("addTime", GetDateTime());
                        axios.post("/WishApi/InsertWish", form, {
                            headers: {
                                "Content-Type": "multipart/form-data"
                            }
                        })
                            .then(res => _this.QueryWish())
                            .catch(err => Swal.fire({
                                text: err,
                                icon: "error",
                                confirmButtonColor: "#097E52",
                                confirmButtonText: "確認"
                            }));
                    }
                }
            }
        }).mount("#hotActivity")
        const bestServices = Vue.createApp({
            data() {
                return {
                    memberGender: [],
                    totle: 0,
                    man: 0,
                    woman: 0
                }
            },
            mounted() {
                let _this = this;
                _this.QueryMemberGender();
            },
            methods: {
                QueryMemberGender() {
                    let _this = this;
                    axios.get("/IndexApi/GetGenderList")
                        .then(res => {
                            _this.memberGender = res.data;
                            for (var i = 0; i < _this.memberGender.length; i++) {
                                _this.totle = _this.memberGender[i].totle;
                                _this.man = _this.memberGender[i].man;
                                _this.woman = _this.memberGender[i].woman;
                            }
                        })
                        .catch(err => Swal.fire({
                            text: err,
                            icon: "error",
                            confirmButtonColor: "#097E52",
                            confirmButtonText: "確認"
                        }));
                }
            }
        }).mount("#bestServices")
        const hotMember = Vue.createApp({
            data() {
                return {
                    hotList: [],
                }
            },
            mounted() {
                let _this = this;
                _this.QueryHotMember();
            },
            methods: {
                QueryHotMember() {
                    let _this = this;
                    axios.get("/IndexApi/GetHotMemberList")
                        .then(res => {
                            _this.hotList = res.data;
                        })
                        .catch(err => Swal.fire({
                            text: err,
                            icon: "error",
                            confirmButtonColor: "#097E52",
                            confirmButtonText: "確認"
                        }));
                }
            }
        }).mount("#hotMember")
        const cityArea = Vue.createApp({
            data() {
                return {
                    activeCity: ""
                }
            },
            computed: {
                cityList() {
                    return taiwanCity.map(x => {
                        return {
                            id: x.CityName,
                            text: x.CityName
                        }
                    })
                },
                areaList() {
                    let area = taiwanCity.filter(x => x.CityName == this.activeCity);
                    if (area.length < 1) return [];
                    return area[0].AreaList.map(x => {
                        return {
                            id: x.AreaName,
                            text: x.AreaName
                        }
                    })
                }
            }
        }).component('select2', select2).mount("#cityArea")
        const footShow = Vue.createApp({
            data() {
                return {
                    blnFootShow: false,
                }
            },
            mounted() {
                let _this = this;
                _this.blnFootShow = blnChange(`@blnLogIn`);
            },
        }).mount("#footShow")

    </script>
}